<a href="https://colab.research.google.com/github/RifleB-1311/Baitap1-nhom2/blob/main/Baitaptailop_phien2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kiểu tuple

In [3]:
tup1 = ('physics', 'chemistry', 1997, 2000)     # Truy cập các phần tử của Tuples
tup2 = (1, 2, 3, 4, 5, 6, 7 )     
print("tup1[0]: ", tup1[0])             
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [2]:
tup1 = (12, 34.56)        # Thay đổi giá trị phần tử của Tuples
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [9]:
tup = ('physics', 'chemistry', 1997, 2000)        # Xóa phần tử của Tuples
print(tup)
del tup
print("After deleting tup : ",tup)    # tup đã được xóa nên sẽ ko còn tồn tại

('physics', 'chemistry', 1997, 2000)

NameError: ignored

In [17]:
print("Độ dài:",len((1, 2, 3)))   # Lấy số phần tử

print("Nối:",(1, 2, 3) + (4, 5, 6))      # Nối

print(("Hi") * 3)    #Mở rộng Tuples hiện tại lên gấp 3 lần

print(3 in (1, 2, 3))   #Kiểm tra giá trị 3 có trong Tuples hay không

for x in (1, 2, 3): 
  print(x)            # Duyệt từng phần tử

Độ dài: 3
Nối: (1, 2, 3, 4, 5, 6)
HiHiHi
True
1
2
3

In [19]:
T = ("Red", "Yellow", "Green")
print(T[2])               #Indexing & Slicing
print(T[-2])
print(T[1:])

Green
Yellow
('Yellow', 'Green')

In [21]:
t1=(1,2,3)
print("Giá trị lớn nhất:",max(t1))    # Max
print("Giá trị nhỏ nhất:",min(t1))    #Min

Giá trị lớn nhất: 3
Giá trị nhỏ nhất: 1

In [24]:
lst=[1,2,3,4,5]
tup=tuple(lst)      # Biến 1 list thành 1 tuple
print(tup)

(1, 2, 3, 4, 5)

Kiểu Dictionary

In [40]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8; # update existing entry
dict1['School'] = "DPS School"; # Add new entry          #Thay đổi giá trị phần tử
print("dict1['Age']: ", dict1['Age'])
print("dict1['School']: ", dict1['School'])

dict1['Age']:  8
dict1['School']:  DPS School

In [31]:
dct = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dct['Name']         # remove entry with key 'Name'
print(dct)

dct.clear()
print(dct)  # remove all entries in dict

del dct
print(dct)  # delete entire dictionary

{'Age': 7, 'Class': 'First'}
{}

NameError: ignored

In [39]:
d1={"Bách":"Nam","Hòa":"Nữ"}
print("Độ dài của d1 là:",len(d1))    #Tổng số các phần tử của d1

change=str(d1)
print(change)     #Chuyển dictionary d1 thành chuỗi string

Độ dài của d1 là: 2
{'Bách': 'Nam', 'Hòa': 'Nữ'}

In [62]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict1.copy())     #Sao chép Dictionary

print(dict1.get("Age"))   # Trả về value tương ứng với key

print(dict1.items())    # Trả về 1 List các phần tử là các tuples (key, value)

print(dict1.keys())     #Trả vể 1 List các phần tử là các key

print(dict1.values())   #Trả về 1 List các phần tử là các value

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
7
dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])
dict_keys(['Name', 'Age', 'Class'])
dict_values(['Zara', 7, 'First'])

Kiểu Set

In [64]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")           # Thêm phần tử
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Idrish', 'Jay', 'Archi'}

Set after adding element: {1, 2, 'Jay', 3, 4, 'Daxit', 5, 'Archi', 'Idrish'}

In [65]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")                 # Bớt phần tử
print(Days)

{'Tue', 'Sat', 'Wed', 'Fri', 'Thu', 'Mon'}

In [67]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
set1.clear()        #Xóa toàn bộ
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [70]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}               #Phép hợp
dracula = {"Deepanshu", "Raju"}

population = people.union(vampires)
print("Union using union() function")   # Union using union() function
print(population)

population = people|dracula
print("\nUnion using '|' operator")     # Union using "|" operator
print(population)

Union using union() function
{'Arjun', 'Jay', 'Archil', 'Idrish', 'Karan'}

In [71]:
set1 = set()
for i in range(5):
  set1.add(i)                   #Phép giao
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.intersection(set2)
print("Intersection using intersection() function")   # Intersection using intersection() function
print(set3)

set3 = set1 & set2
print("\nIntersection using '&' operator")            # Intersection using "&" operator
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [72]:
set1 = set()
for i in range(5):            #Phép hiệu
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")      #Difference of two sets using difference() function
print(set3)

set3 = set1 - set2
print("\nDifference of two sets using '-' operator")              #Difference of two sets using '-' operator
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [73]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB                                    # Kiểm tra tập con - tập cha
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

Kiểu Date & Time

In [82]:
import time; # This is required to include time module.
ticks = time.time()                                           #Lấy thời gian hiện tại
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1636963690.6844618
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=8, tm_min=8, tm_sec=10, tm_wday=0, tm_yday=319, tm_isdst=0)

In [81]:
import time;
localtime = time.asctime( time.localtime(time.time()) )     # Định dạng thời gian
print("Local current time :", localtime)

Local current time : Mon Nov 15 08:07:03 2021

In [83]:
import calendar
cal = calendar.month(2021, 11)       # Lấy lịch 1 tháng
print("Here is the calendar:")
print(cal)

Here is the calendar:
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30